.content {
  padding: 0 125px 50px 125px;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}

.steps {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.step {
  background: white;
  padding: 30px 20px;
  flex: 1;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}

.step h4 {
  color: #000CF9;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.step p {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

.image {
  width: 60px;
  height: 170px;
  flex-shrink: 0;
}
